$primary: #74EBD5;
$secondary: #ACB6E5;
.container {
    @apply flex mx-auto text-center;
}

// TRANSITIONS

.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}
.page-enter, .page-leave {
    opacity: 0;
}

// SCROLL

*::-webkit-scrollbar-thumb{
    background-color: #ACB6E5;
    border-radius: 100px;
    cursor: pointer;
}
body{
    *::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
        height: 5px;
    }
}
html::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
    height: 15px;
}